language: python
python:
  - "3.5"
before_script:
  - pip install python-coveralls
  - pip install colorama
  - pip install nose
script:
  - python3 -m unittest
  - nosetests --with-coverage
after_success:
  - coveralls